
:root {
  --lightest-red: #FFF7F7;
  --light-red: #FFEBEC;
  --principle-red: #FF4D54;
  --dark-highlight-red: #FD757A;
  --dark-red: #D91D25;
  --poppy-dark: #454545;
  --easy-reading: #6F6F6F;
  font-family: 'Bellota Text', cursive;
  color: var(--easy-reading);
}

body {
  margin: 0;
}

.main {}
