
.list {
  display: flex;
  padding: 0;
  flex-wrap: wrap;

  li {
    color: white;
    display: block;
    background-color: var(--dark-highlight-red);
    padding: 4px 20px;
    border-radius: 15px;
    margin-right: 10px;
    margin-bottom: 14px;
  }

  a {
    color: white;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .selected {
    background-color: white;

    a {
      color: var(--principle-red);
    }
  }
}